Repository robotology/blockfactory, pull requests merged in 2019-01, with the labels that each got.

#14 Remove BUILD_EXAMPLE option
  CMakeLists.txt
Labels: component::cmake

#15 Fix Debug build due to warning in simulink.c
  sources/Mex/CMakeLists.txt
  sources/Mex/src/BlockFactory.cpp
Labels: complexity::trivial, component::cmake, pr::status::feedback

#20 Renamed CMake components
  cmake/ExtraPackageConfigVars.cmake.in
  cmake/TargetFromGeneratedCode.cmake
  doc/mkdocs/data/autogenerate_code.md
  doc/mkdocs/data/create_new_library.md
  doc/mkdocs/data/install.md
  doc/release/template.md
  example/CMakeLists.txt
  example/matlab/AutogenerationExample_grt_rtw/AutogenerationExample.h
  example/matlab/CMakeLists.txt
  matlab/BlockFactory.tlc
  sources/CMakeLists.txt
  sources/Simulink/CMakeLists.txt
  sources/Simulink/include/BlockFactory/Simulink/Private/SimulinkBlockInformationImpl.h
  sources/Simulink/include/BlockFactory/Simulink/SimulinkBlockInformation.h
  sources/Simulink/src/BlockFactory.cpp
  sources/Simulink/src/SimulinkBlockInformation.cpp
  sources/Simulink/src/SimulinkBlockInformationImpl.cpp
  sources/SimulinkCoder/CMakeLists.txt
  sources/SimulinkCoder/include/BlockFactory/SimulinkCoder/CoderBlockInformation.h
  sources/SimulinkCoder/include/BlockFactory/SimulinkCoder/GeneratedCodeWrapper.h
  sources/SimulinkCoder/src/CoderBlockInformation.cpp
Labels: complexity::low, pr::status::feedback

#21 Enabled ctest-based Unit Testing infrastructure
  .ci/Dockerfile
  .ci/env-file
  .ci/script.sh
  .github/CONTRIBUTING.md
  .travis.yml
  CMakeLists.txt
  cmake/UnitTesting.cmake
  deps/CMakeLists.txt
  deps/catch/CMakeLists.txt
  deps/catch/catch2/catch.hpp
  deps/catch/cmake/Catch.cmake
  deps/catch/cmake/CatchAddTests.cmake
  deps/catch/cmake/ParseAndAddCatchTests.cmake
  sources/Core/src/Signal.cpp
  tests/CMakeLists.txt
  tests/Core/SignalUnitTest.cpp
  tests/main.cpp
Labels: complexity::medium, component::tests, pr::status::feedback

#22 Polished CoderBlockInformation class
  example/matlab/AutogenerationExample.mdl
  example/matlab/AutogenerationExample_grt_rtw/AutogenerationExample.cpp
  example/matlab/AutogenerationExample_grt_rtw/AutogenerationExample.h
  example/src/main.cpp
  matlab/BlockFactory.tlc
  sources/SimulinkCoder/include/BlockFactory/SimulinkCoder/CoderBlockInformation.h
  sources/SimulinkCoder/src/CoderBlockInformation.cpp
Labels: complexity::low, component::coder, pr::status::feedback

#26 Remove reference to mdlInitializeSizes
  sources/Core/include/BlockFactory/Core/BlockInformation.h
Labels: complexity::trivial, component::doxygen

#29 Remove references to removed methods
  sources/Core/include/BlockFactory/Core/Block.h
  sources/Core/include/BlockFactory/Core/BlockInformation.h
Labels: complexity::trivial, component::doxygen

#23 Polished and improved SimulinkBlockInformation
  sources/Simulink/CMakeLists.txt
  sources/Simulink/include/BlockFactory/Simulink/Private/SimulinkBlockInformationImpl.h
  sources/Simulink/include/BlockFactory/Simulink/SimulinkBlockInformation.h
  sources/Simulink/src/BlockFactory.cpp
  sources/Simulink/src/SimulinkBlockInformation.cpp
  sources/Simulink/src/SimulinkBlockInformationImpl.cpp
Labels: complexity::medium, component::simulink, pr::status::feedback

#25 Remove iDynTree::KinDynComputations forward declaration
  sources/Core/include/BlockFactory/Core/BlockInformation.h
Labels: complexity::trivial, component::core

#31 Added BlockFactoryPlugin.cmake
  cmake/BlockFactoryPlugin.cmake
  cmake/ExtraPackageConfigVars.cmake.in
  sources/CMakeLists.txt
Labels: complexity::low, component::cmake, pr::status::feedback

#32 Support BLOCKFACTORY_PLUGIN_PATH environment variable
  .ci/env-file
  .ci/script.sh
  .travis.yml
  CMakeLists.txt
  cmake/BlockFactoryPlugin.cmake
  deps/sharedlibpp/src/SharedLibraryFactory.cpp
  deps/sharedlibpp/src/shlibpp/SharedLibraryFactory.h
  sources/Core/include/BlockFactory/Core/FactorySingleton.h
  sources/Core/src/FactorySingleton.cpp
  tests/CMakeLists.txt
  tests/Factory/FactoryUnitTest.cpp
  tests/Factory/MockPlugin.cpp
  tests/Factory/MockPlugin.h
Labels: complexity::medium, component::core, pr::status::feedback

#36 Fix compiling S-Function with Matlab R2018b
  CMakeLists.txt
  cmake/FindMatlab.cmake
  sources/Simulink/CMakeLists.txt
Labels: complexity::low, component::simulink, pr::status::feedback

#37 Reduce dynamic allocations during simulation loop
  sources/Core/include/BlockFactory/Core/Signal.h
  sources/Core/src/Signal.cpp
Labels: complexity::medium, component::core, component::simulink, issue::status::feedback

#38 Added block identifier support
  example/matlab/AutogenerationExample_grt_rtw/AutogenerationExample.cpp
  matlab/BlockFactory.tlc
  sources/Core/include/BlockFactory/Core/Block.h
  sources/Core/include/BlockFactory/Core/BlockInformation.h
  sources/Core/src/Block.cpp
  sources/Simulink/include/BlockFactory/Simulink/Private/SimulinkBlockInformationImpl.h
  sources/Simulink/include/BlockFactory/Simulink/SimulinkBlockInformation.h
  sources/Simulink/src/BlockFactory.cpp
  sources/Simulink/src/SimulinkBlockInformation.cpp
  sources/Simulink/src/SimulinkBlockInformationImpl.cpp
  sources/SimulinkCoder/include/BlockFactory/SimulinkCoder/CoderBlockInformation.h
  sources/SimulinkCoder/src/CoderBlockInformation.cpp
Labels: complexity::medium, component::core, component::simulink, component::simulinkcoder, pr::status::feedback

#39 Solved few warnings in SimulinkBlockInformationImpl
  sources/Simulink/src/SimulinkBlockInformationImpl.cpp
Labels: complexity::trivial, component::simulink, pr::status::feedback
